/* Common Shared Styles */
body{
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Nav Related Styles */


nav{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   margin: 0 200px;
}

.nav-title{

font-weight: 800;
font-size: 45px;
color: var(--dark-01);
}
.text-primary{
    color: #fd6e0a;
}
.button-primary{
    background: #fd6e0a;
    border-radius: 5px;
    border: 0;
     font-weight: 700;
     font-size: 20px;
     color:white;
     padding:15PX 35PX;
     
}
nav> ul{
    display:flex;
    align-items: ;
   
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
font-weight: 400;
font-size: 20px;
color: var(--dark-02);
}

/* Header related styles */
.header{
    background: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .photo{
    width: 500px;
    height: 600px;
}