/* Common Shared Styles */
body{
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100px;
}


.section-title{
font-weight: 700px;
font-size: 35px;
text-align: center;
color: #181818;
}


.section-description{

font-weight: 400px;
font-size: 18px;
line-height: 167%;
text-align: center;
color: #757575;
}

/* Nav Related Styles */


nav{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   margin: 0 200px;
}

.nav-title{

font-weight: 800px;
font-size: 45px;
color: var(--dark-01);
}



.text-primary{
    color: #fd6e0a;
}
.button-primary{
    background: #fd6e0a;
    border-radius: 5px;
    border: 0;
     font-weight: 700px;
     font-size: 20px;
     color:white;
     padding:15PX 35PX;
     
}
nav> ul{
    display:flex;
    align-items: ;
   
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
font-weight: 400px;
font-size: 20px;
color: var(--dark-02);
}

/* Header related styles */
.header{
    background-color:  #fff8f3;
    background-image: url(/images/header_bg.png),url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,top left;
 

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .photo{
    width: 500px;
    height: 600px;
}
.banner-greeting{
font-weight: 600;
font-size: 45px;
margin-bottom: 0px;
}
.banner-title{
font-weight: 700;
font-size: 85px;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-dis{
    margin-bottom: 40px;
}
.banner-content{
    max-width: 500px;
}

/* Main Section Style */
main{
    max-width: 1140px;
    margin: 0 auto;
}


main section{
    margin-top: 130px;
}
/* About Section Style */




.about{
    padding-top: 130px;
    border-radius: 10px;
    width: 1140px;
    height: 550px;
    background: #fff8f3;
    margin:130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around

    
}

.about-info{
    text-align: center;
    justify-content: center;
    }

    /* What i do style */


#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
padding:30px;
 border-radius: 5px;
width: 267px;
height: 300px;
box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
background: #FFF;
}
.skill-description{
    color: #757575;
}

/* Resume Style */
.resume-column-title{
font-weight: 700;
font-size: 30px;
color: #474747;
}
.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-instuted, .resume-item-description{
    color: #757575;
}

.resume-item-instuted{
    margin-bottom: 20px;
    margin-top: 0px;
}


.resume-item-title{
font-weight: 700;
font-size: 25px;
color:#474747;
margin-bottom: 10px;
}
.esume-container hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer{
    display: flex;
    background: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.fotter-colum{
    width:50% ;
}


.contact-form  input[type="text"], .contact-form input[type="email"],
textarea {
    margin-bottom: 25px;
    padding: 18px 35px;
    color:#757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width : 100%;
}

.social-links a{
    margin-right: 25px;

}